@import '../base/index';

.form-container {
    .form-field-error-message {
        color: $danger_color;
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        font-family: Arial;
    }

    form {
        display: grid;
        justify-content: center;
        grid-template-columns: 450px minmax(500px, 1050px);
        grid-template-rows: 400px 100px auto;
        padding: 25px;

        .form-transportation-data {
            grid-area: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media only screen and (max-width: $screen-xl) {
                flex-direction: row;
            }

            @media only screen and (max-width: $screen-lg) {
                flex-direction: column;
            }
        }

        .form-shipping-documents {
            grid-area: 3/-3;
            display: flex;
            justify-content: center;
        }

        .form-submit-button {
            grid-area: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px 0 10px 0;

            button {
                width: 250px;
            }
        }

        .form-cargo-list {
            grid-area: 1/2/-1;
            padding: 10px;

            .form-cargo-list-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .form-cargo-list-item-placeholder {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100px;
                flex-grow: 1;
            }

            .form-cargo-list-items {
                display: flex;
                max-height: 720px;
                overflow-y: scroll;

                border: 2px dashed $secondary_color;
                padding: 10px;

                border-radius: 10px;
                flex-direction: column;
                justify-content: center;
                align-content: space-between;

                @media only screen and (max-width: $screen-full) {
                    max-height: 500px;
                    flex-direction: row;
                    flex-wrap: wrap;
                }

                &:has(.error) {
                    color: $danger_color;
                    border: 2px dashed $danger_color;
                }

                &::-webkit-scrollbar {
                    width: 6px;
                }

                &::-webkit-scrollbar-thumb {
                    background: $secondary_color;
                    border-radius: 5px;
                }
            }

            .form-cargo-list-item {
                display: flex;

                align-items: center;
                padding: 5px 0 5px 0;
                margin: 0 10px 0 10px;
                margin-bottom: 5px;
                flex-direction: row;

                @media only screen and (max-width: $screen-full) {
                    flex-direction: column;
                    max-width: 300px;
                }

                >div {
                    width: 100%;
                }

                .form-field-error-message {
                    min-height: 16px;
                }
            }
        }

        .form-field-container {
            display: flex;
            flex-direction: column;
            margin: 10px;

            label {
                font-size: 20px;
                margin-bottom: 10px;
                text-align: center;

                &::first-letter {
                    text-transform: capitalize;
                }
            }

            input,
            select {
                min-width: 180px;
            }
        }

        @media only screen and (max-width: $screen-xl) {
            display: block;
        }
    }
}